<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>{% block titulo %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css' ) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toastr.css' ) }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css' ) }}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    {% block css %}
    {% endblock %}
</head>
<body class="stripe">
    {% block contenido %}
    {% endblock %}
    <script src="{{ url_for('static', filename='js/bootstrap.js' ) }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.6.1.min.js' ) }}"></script>
    <script src="{{ url_for('static', filename='js/toastr.min.js' ) }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.dataTables.js' ) }}"></script> 
    <script>
        toastr.options = {
            "closeButton": true,
            "progressBar": true,
        }
    </script>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <script> toastr.{{category}}('{{message}}', 'Mensaje de sistema'); </script>
                {% endfor %}
            {% endif %}
        {% endwith %}
    {% block librerias %}
    {% endblock %}
</body>
</html>