{% extends "base.html" %}

{% block titulo %}Dashboard{% endblock %}
{% block contenido %}
{% include "__menu.html" %}
<div class="container-fluid  mt-5">
<h3 class="text-white">Pagina Principal</h3>

<table class="table table-striped table-bordered dt-responsive nowrap bg-white" style="width:100%">
    <thead>
        <tr>
            <th>Mascota</th>
            <th>Dueño</th>
            <th>Veterinario</th>
            <th>Diagnostico</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Tiger</td>
            <td>Pedro Lira</td>
            <td>Juan Puebla</td>
            <td>Pioderma del obejero aleman</td>
            
        </tr>
        <tr>
            <td>Tiger</td>
            <td>Pedro Lira</td>
            <td>Juan Puebla</td>
            <td>Pioderma del obejero aleman</td>
           
        </tr>
        <tr>
            <td>Tiger</td>
            <td>Pedro Lira</td>
            <td>Juan Puebla</td>
            <td>Pioderma del obejero aleman</td>
            
        </tr>
    </tbody>
</table>



</div>




{% endblock %}






{% block librerias %}

{% endblock %}


