{% extends "base.html" %}

{% block titulo %}Mascotas{% endblock %}
{% block contenido %}
{% include "__menu.html" %}
<div class="container-fluid  mt-5">
<h3 class="text-white">Mascotas</h3>
<button class="btn btn-secondary mb-3" type="button" id="mostrar">
    Agregar mascota
</button>

<div class="row w-25" id="mascotas" style="display: none;">
    <div class="col">
        <form action="/agregar_mascota" method="POST">
            
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre:</label>
                <input  class="form-control" type="text" name="nombre" id="nombre" value="">
            </div>
            <div class="mb-3">
                <label for="tipo_animal"  class="form-label">Tipo animal:</label>
                <select name="tipo_animal" id="" class="form-control">
                    <option value="canino">Canino</option>
                    <option value="felino">Felino</option>
                    <option value="pez">Pez</option>
                    <option value="reptil">Reptil</option>
                    <option value="ave">Ave</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="sexo"  class="form-label">Sexo:</label>
                <select name="sexo" id="" class="form-control">
                    <option value="hembra">Hembra</option>
                    <option value="macho">Macho</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="raza" class="form-label">Raza:</label>
                <input  class="form-control" type="text" name="raza" id="raza" value="">
            </div> 
            <div class="mb-3">
                <label for="dueño"  class="form-label">Dueño:</label>
                <select name="dueño" id="" class="form-control">
                    {% for dueño in dueños %}
                    <option value="{{dueño.identificacion}}">{{dueño.nombre}} {{dueño.apellido_p}}</option>
                    {% endfor %}
                    
                </select>
            </div>           
            <div class="mb-3">
                <input class="btn btn-success" type="submit" value="Agregar">
            </div>
        </form>
    </div>
</div>




<table class="table table-striped table-bordered dt-responsive nowrap bg-white" style="width:100%">
    <thead>
        <tr>
            <th>Mascota</th>
            <th>Dueño</th>
            <th>Tipo</th>
            <th>Raza</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Tiger</td>
            <td>Pedro Lira</td>
            <td>Canino</td>
            <td>Poodle</td>
            <td><a href="#"  class="btn btn-secondary">Modificar</a>
            <a href="#" class="btn btn-warning">Eliminar</a></td>
            
        </tr>
        <tr>
            <td>Tiger</td>
            <td>Pedro Lira</td>
            <td>Canino</td>
            <td>Poodle</td>
            <td><a href="#"  class="btn btn-secondary">Modificar</a>
            <a href="#" class="btn btn-warning">Eliminar</a></td>
            
        </tr>
        <tr>
            <td>Tiger</td>
            <td>Pedro Lira</td>
            <td>Canino</td>
            <td>Poodle</td>
            <td><a href="#"  class="btn btn-secondary">Modificar</a>
            <a href="#" class="btn btn-warning">Eliminar</a></td>
            
        </tr>
    </tbody>
</table>




</div>



{% endblock %}






{% block librerias %}
<script>
$(document).ready(function(){
    $("#mostrar").click(function(){
        
        $('#mascotas').toggle(1000); 
    });
});
</script>

{% endblock %}


