{% extends "base.html" %}

{% block titulo %}Modificar mascota{% endblock %}
{% block contenido %}
{% include "__menu.html" %}
<div class="container  mt-5">
<div class="row w-50 text-white">
    <div class="form-group ">
        
    </div>
    <div class="row">
        
        <div class="col">
        <form action="/modificar_mascota/{{mascota.id}}" method="POST">
            <div class="mb-3">
                <h2>Modificar mascota</h2>
            </div>
            <div class="mb-3">
                <label for="id" class="form-label">id:</label>
                <input  class="form-control" type="text" name="id" id="id" value="{{mascota.id}}" readonly>
            </div>
            <div class="mb-3">
                <label for="nombre_mascota" class="form-label">Nombre:</label>
                <input  class="form-control" type="text" name="nombre_mascota" id="nombre_mascota" value="{{mascota.nombre}}">
            </div>
            <div class="mb-3">
                <label for="tipo_mascota"  class="form-label">Tipo mascota:</label>
                <select name="tipo_mascota" id="" class="form-control">
                    <option value="canino">Canino</option>
                    <option value="felino">Felino</option>
                    <option value="pez">Pez</option>
                    <option value="reptil">Reptil</option>
                    <option value="ave">Ave</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="sexo"  class="form-label">Sexo:</label>
                <select name="sexo" id="" class="form-control">
                    <option value="hembra">Hembra</option>
                    <option value="macho">Macho</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="raza" class="form-label">Raza:</label>
                <input  class="form-control" type="text" name="raza" id="raza" value="{{mascota.raza}}">
            </div> 
            <div class="mb-3">
                <label for="dueño"  class="form-label">Dueño:</label>
                <select name="dueño" id="" class="form-control">
                    {% for dueño in dueños %}
                    <option value="{{dueño.identificacion}}">{{dueño.nombre}} {{dueño.apellido_p}}</option>
                    {% endfor %}
                    
                </select>
            </div>           
            <div class="mb-3">
                <input class="btn btn-success" type="submit" value="Modificar">
            </div>
        </form>
        </div>
    </div>
</div>
</div>



{% endblock %}






{% block librerias %}

{% endblock %}


